* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Inconsolata", monospace;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 14px;
  min-height: 100vh;
}

h1 {
  text-emphasis: "";
  text-align: center;
}

select,
section {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

select {
  padding: 6px;
  cursor: pointer;
}

button {
  padding: 6px;
  cursor: pointer;
}

.mainContainer,
.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.container {
  padding: 14px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 14px;
}

.btnContainer {
  display: flex;
  justify-content: end;
  gap: 6px;
  margin-left: auto;
}

.iconBtn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 8px;
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.edit:hover {
  background: orange;
}
.delete:hover {
  background: lightcoral;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:after {
  /* expand plus icon */
  content: "\002B";

  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  /* collapse minus icon */
  content: "\2212";
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
