* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding: 14px;
  background-color: grey;
  font-family: SharpGroteskNormal20, sans-serif;
  font-weight: 400;
  /* background-image: linear-gradient(#ec8f5e, #9fbb73); */
  background-image: linear-gradient(90deg, #39a7ff, #87c4ff);
}

h1,
#workoutChoice {
  text-align: center;
  font-family: SharpGroteskMedium20, sans-serif;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.056em;
  font-size: 2.67rem;
  gap: 7px;
}

h4 {
  padding: 6px;
}

.moveType {
  padding: 6px;
}

#selectSection {
  justify-content: center;
  min-height: 100vh;
  padding: 24px;
  background-color: #e0f4ff;
}

#selectSection > div,
#workoutInfo > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 24px;
}

#workoutInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffeed9;
}

select,
section {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5px;
}

select {
  padding: 6px;
  cursor: pointer;
}

button {
  padding: 16px;
  cursor: pointer;
  width: 80%;
  margin: auto;
  border: 0;
  border-radius: 5px;
  background-color: #87c4ff;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.details {
  flex: 1;
  align-items: center;
  border: 2px solid #9fbb73;
  width: 30%;
  text-align: center;
}

.exContainer {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 7px;
  background-color: #e0f4ff;
}

.iconContainer {
  width: 80%;
}

.rowContainer,
.iconContainer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .exNumber {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  button > .icon {
    display: none;
  }
  button {
    justify-content: center;
  }
}

.colContainer,
.details {
  display: flex;
  flex-direction: column;
  margin: 7px;
  border-radius: 5px;
}

.iconBtn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 8px;
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #87c4ff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:after {
  /* expand plus icon */
  content: "\002B";

  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  /* collapse minus icon */
  content: "\2212";
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: #ffeed9;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
